<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>About</title>
    <link rel="icon" href="./img/icon.png">
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <div class="main-content">
        {{> header }}
        <img class="portrait" src="./img/unknown-user.jpg" alt="unknown user" width="250" height="250">
    </div>
    {{> footer }}
</body>

</html>