<!doctype html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <title>Página de Sobre</title>
    <link rel="stylesheet" href="./css/style.css">
    <script src="./js/main.js"></script>
</head>

<body>
    <main>
        {{> header }}
        <p>
            <img src="./img/unknown-user.jpg" alt="unknown user" width="250" height="250">
        </p>
        {{> footer }}
    </main>
</body>

</html>