<!doctype html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <title>Página Principal</title>
    <link rel="stylesheet" href="./css/style.css">
    <script src="./js/main.js"></script>
</head>

<body>
    <main>
        {{> header }}
        {{> footer }}
    </main>
</body>

</html>