<div>
    <form (ngSubmit)="onSubmitForm(formGroup)" #formGroup="ngForm">
        <p>
            <label for="name">Nome:</label>
            <input type="text" name="name" id="name" required #nameCtrl="ngModel" ngModel>
            <span *ngIf="nameCtrl.status === 'INVALID' && nameCtrl.touched" 
                [style.background]="emailCtrl.status === 'INVALID' ? 'red' : ''"
                [style.color]="emailCtrl.status === 'INVALID' ? 'white' : ''">
                Campo Obrigatório!
            </span>
        </p>

        <p>
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" required #emailCtrl="ngModel" ngModel>
            <span *ngIf="emailCtrl.status === 'INVALID' && emailCtrl.touched"
                [style.background]="emailCtrl.status === 'INVALID' ? 'red' : ''"
                [style.color]="emailCtrl.status === 'INVALID' ? 'white' : ''">
                Campo Obrigatório!
            </span>
        </p>

        <p>
            <label for="address">Endereço:</label>
            <input type="text" name="address" id="address" ngModel>
        </p>

        <p>
            <button [disabled]="formGroup.status === 'INVALID'">
                Salvar
            </button>
        </p>
    </form>
</div>